# Logs & System
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic & build outputs
node_modules
dist
dist-ssr
*.local

# Editor & IDE directories
.vscode/*
!.vscode/extensions.json
.idea
.ds_store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment & secrets
.env
.env.*
!.env.example

# Temporary agent tasks & brain logs
.system_generated

.vercel
